@model CodeTest.ViewModels.IndexViewModel

@using (Html.BeginForm("SaveClass", "Class"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Class.ClassName)
        @Html.TextBoxFor(m => m.Class.ClassName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Class.Location)
        @Html.TextBoxFor(m => m.Class.Location, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Class.TeacherName)
        @Html.TextBoxFor(m => m.Class.TeacherName, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m => m.Class.ClassId)
    <button type="submit" class="btn btn-primary">Save</button>
}