@model CodeTest.ViewModels.IndexViewModel
@if (Model.StudentClasses != null)
{
    <h3>@Model.Class.ClassName</h3>
    <table id="StudentList" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th class="col-md-2">Student Name</th>
                <th class="col-md-2">Age</th>
                <th class="col-md-2">GPA</th>
                <th class="col-md-1"></th>
                <th class="col-md-1"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sc in Model.StudentClasses)
            {
                <tr>
                    <td class="col-md-2">@sc.Student.GivenName @sc.Student.Surname</td>
                    <td class="col-md-2">@sc.Student.AgeInYears</td>
                    <td class="col-md-2">@sc.Student.GPA</td>
                    <td class="col-md-1">@Html.ActionLink("Edit", "EditStudent", "Student", new { id = sc.StudentId }, null)</td>
                    <td class="col-md-1">@Html.ActionLink("Delete", "DeleteStudent", "Student", new { id = sc.StudentId }, null)</td>
                </tr>
            }
        </tbody>
    </table>
    <br>
    @*<button class="btn btn-default">@Html.ActionLink("Add Student", "NewStudent", "Student", new { classId = @Model.Class.ClassId }, null)</button>*@
    <button class="btn btn-primary" data-target="#StudentFormModal" data-toggle="modal">Add Student</button>
}
