@model CodeTest.ViewModels.IndexViewModel
@if (Model.StudentClasses != null)
{
    <h3>@Model.Class.ClassName</h3>
    <table id="StudentList" class="table table-bordered table-hover tablesorter">
        <thead>
            <tr>
                <th>Student Name</th>
                <th>Age</th>
                <th>GPA</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sc in Model.StudentClasses)
            {
                <tr>
                    <td>@sc.Student.GivenName @sc.Student.Surname</td>
                    <td>@sc.Student.AgeInYears</td>
                    <td>@sc.Student.GPA</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr>
            }
        </tbody>
    </table>
}
