@model CodeTest.ViewModels.IndexViewModel
@if (Model.StudentClasses != null)
{
    <h3>@Model.Class.ClassName</h3>
    <table id="StudentList" class="table table-bordered table-hover tablesorter">
        <thead>
            <tr>
                <th>Student Name</th>
                <th>Age</th>
                <th>GPA</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sc in Model.StudentClasses)
            {
                <tr>
                    <td>@sc.Student.GivenName @sc.Student.Surname</td>
                    <td>@sc.Student.AgeInYears</td>
                    <td>@sc.Student.GPA</td>
                    <td>@Html.ActionLink("Edit", "EditStudent", "Home", new { id = sc.StudentId }, null)</td>
                    <td>@Html.ActionLink("Delete", "DeleteStudent", "Home", new { id = sc.StudentId }, null)</td>
                </tr>
            }
        </tbody>
    </table>
    <button class="btn btn-default">@Html.ActionLink("Add Student", "NewStudent", "Home", new { classId = @Model.Class.ClassId }, null)</button>
}
