@model CodeTest.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
}

    <div class="container">
        <h1>CodeTest</h1>

        <h3>Classes</h3>
        <table id="ClassList" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th class="col-md-2">Class Name</th>
                    <th class="col-md-2">Location</th>
                    <th class="col-md-2">Teacher Name</th>
                    <th class="col-md-1"></th>
                    <th class="col-md-1"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var c in Model.Classes)
                {
                    <tr class="clickable-row" data-classid="@c.ClassId">
                        <td class="col-md-2">@c.ClassName</td>
                        <td class="col-md-2">@c.Location</td>
                        <td class="col-md-2">@c.TeacherName</td>
                        <td class="col-md-1">@Html.ActionLink("Edit", "EditClass", "Class", new { id = c.ClassId }, null)</td>
                        <td class="col-md-1">@Html.ActionLink("Delete", "DeleteClass", "Class", new { id = c.ClassId }, null)</td>
                    </tr>
                }
            </tbody>
        </table>
        <br>
        @*<button class="btn btn-default">@Html.ActionLink("Add Class", "NewClass", "Class", new { }, null)</button>*@

        <button class="btn btn-primary" data-target="#ClassForm" data-toggle="modal">Add Class</button>

        @Html.Partial("_StudentTable", Model)

    </div>

    @*// Class Modal*@
    <div class="modal fade" id="ClassForm" tabindex="-1" role="dialog" aria-labelledby="ClassFormModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">New Class</h3>
                </div>

                <div class="modal-body">
                    <div id="formContent">
                        @Html.Partial("_ClassForm", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*// Student Modal*@
    <div class="modal fade" id="StudentForm" tabindex="-1" role="dialog" aria-labelledby="StudentFormModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3>New Student</h3>
                </div>

                <div class="modal-body">
                    <div id="formContent">
                        @Html.Partial("_StudentForm", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>

@section scripts {
    <script type="text/javascript">

        $(document).ready(function ($) {
            
            // Show Student table based on Class row clicked
            $(".clickable-row").click(function () {
                var classId = $(this).data("classid");
                var url = '/Home/Index/' + classId
                window.location.href = url
            });


            // Make tables DataTables
            $('#ClassList').DataTable({
                "searching": false,
                "paging": false
            });

            $('#StudentList').DataTable({
                "searching": false,
                "paging": false
            });


            // Highlight Student with GPA over 3.2
            $('#StudentList tr').each(function () {
                var gpa = $(this).find("td").eq(2).text();

                if (gpa >= 3.2) {
                    $(this).find("td").eq(0).css('color', 'blue');
                }
            });


            // Highlight class row clicked
            $("#ClassList > tbody tr").click(function () {
                var selected = $(this).hasClass("info");
                $("#ClassList > tbody tr").removeClass("info");
                if (!selected)
                    $(this).addClass("info");
            });

        });
        
    </script>

    @*<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>*@
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
    
}