@model CodeTest.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css {
    <link rel="stylesheet" href="@Url.Content("~/Scripts/tablesorter/themes/blue/style.css")" />
}

@section scripts {
    <script type="text/javascript">

           $(document).ready(function () {

               $("#ClassList").tablesorter();

           });

    </script>

    <script src="@Url.Content("~/Scripts/tablesorter/jquery.tablesorter.min.js")" type="text/javascript"></script>

}

<h1>CodeTest</h1>

<h3>Classes</h3>
<table id="ClassList" class="table table-bordered table-hover tablesorter">
    <tr>
        <th class="header">Class Name</th>
        <th class="header">Location</th>
        <th class="header">Teacher Name</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var c in Model.Classes)
    {
        <tr>
            <td>@c.ClassName</td>
            <td>@c.Location</td>
            <td>@c.TeacherName</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
    }

</table>




<h3>Biology</h3>
<table id="StudentList" class="table table-bordered table-hover tablesorter">
    <tr>
        <th>Student Name</th>
        <th>Age</th>
        <th>GPA</th>
        <th></th>
        <th></th>
    </tr>
    <tr></tr>
</table>