@model CodeTest.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css {

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

}

    <div>
        <h1>CodeTest</h1>

        <h3>Classes</h3>
        <table id="ClassList" class="datatable table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th class="col-md-2">Class Name</th>
                    <th class="col-md-2">Location</th>
                    <th class="col-md-2">Teacher Name</th>
                    <th class="col-md-1"></th>
                    <th class="col-md-1"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var c in Model.Classes)
                {
                <tr class="clickable-row" data-classid="@c.ClassId">
                    <td class="col-md-2">@c.ClassName</td>
                    <td class="col-md-2">@c.Location</td>
                    <td class="col-md-2">@c.TeacherName</td>
                    <td class="col-md-1">@Html.ActionLink("Edit", "EditClass", "Home", new { id = c.ClassId }, null)</td>
                    <td class="col-md-1">@Html.ActionLink("Delete", "DeleteClass", "Home", new { id = c.ClassId }, null)</td>
                </tr>
                }
            </tbody>
        </table>
        <br>
        <button class="btn btn-default">@Html.ActionLink("Add Class", "NewClass", "Home", new { }, null)</button>

        @Html.Partial("_StudentTable", Model)
    </div>

@section scripts {
    <script type="text/javascript">

        // Show Student table based on Class row clicked
        $(document).ready(function ($) {
            $(".clickable-row").click(function () {
                var classId = $(this).data("classid");
                var url = '/Home/Index/' + classId
                window.location.href = url
            });
        });

        // Make tables DataTables
        $(document).ready(function () {
            $('.datatable').DataTable({
                "searching": false,
                "paging": false
            });
        });

        // Highlight Student with GPA over 3.2
        $('#StudentList tr').each(function () {
            var gpa = $(this).find("td").eq(2).text();

            if (gpa >= 3.2) {
                $(this).find("td").eq(0).css('color', 'blue');
            }
        });

        // Highlight class row clicked
        $("#ClassList > tbody tr").click(function () {
            var selected = $(this).hasClass("info");
            $("#ClassList > tbody tr").removeClass("info");
            if (!selected)
                $(this).addClass("info");
        });
        
    </script>

    @*<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>*@
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
    

}