@model CodeTest.ViewModels.DeleteFormViewModel
@{
    ViewBag.Title = "DeleteForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Student != null)
{
    <p>Delete this student?</p>

    using (Html.BeginForm("DeleteStudentConfirm", "Student"))
    {
        @Html.HiddenFor(m => m.Student.StudentId)
        @Html.HiddenFor(m => m.Student.GivenName)
        @Html.HiddenFor(m => m.Student.Surname)
        @Html.HiddenFor(m => m.Student.AgeInYears)
        @Html.HiddenFor(m => m.Student.GPA)
        <button type="submit" class="btn btn-default">Delete</button>
    }
}

